.container(ng-controller='PlacesController as pctrl')
  h1 Admin: Add Hot Places to DB
  | Place_id:
  input(type='text' placeholder='Enter place_id' ng-model='pctrl.place_id')
  button(ng-click='pctrl.crawl()') crawl
  
  h3 {{pctrl.place.name}}
  img(style='width: 300px; height: 240px; ', ng-src="{{ (pctrl.place.hasOwnProperty('photos')) ? pctrl.place.photos[0].getUrl({maxWdith:300, maxHeight:240}) : ''}}")
  h4 country: {{pctrl.country}}
  h4 address: {{pctrl.place.formatted_address}}
  h4 rating: {{pctrl.place.rating}}
  h4 tags
  ul(ng-repeat='type in pctrl.place.types')
    li {{type}}
  textarea(ng-model='pctrl.description' rows="5" cols="50")
  br
  button(ng-click='pctrl.save_to_db()') Save to db
