.container(ng-controller="getUserCtrl")
  h3 Users List
  table.table(ng-repeat="user in users | startForm: (currentPage - 1) * pageSize | limitTo: pageSize")
    tr(ng-if="user.isAdmin != '1'")
      td.col-md-3
        span user
      td.centre
        span {{user.email}}
      td.centre.col-md-4
        button(ng-click="onEditClick(user)").btn.btn-default Reset Password
        button(ng-click="onDeleteClick(user)").btn.btn-default Delete
  div
    uib-pagination(total-items="users.length" ng-model="currentPage" items-per-page="pageSize")
