extends layout

block content
  .container
      h2 About TripHub
      p
      | We've all been there. For that one fun trip, we plan for months on end. Where do we go? Who's coming? How do we go? When? How often is that plan going to change before someone loses his or her mind? Travel logistics can become a long, drawn out horror story... unless you're on TripHobo, in which case it’s a ten minute task. TripHobo is an innovative trip planning platform that enables users to plan trips from over 14000 cities across the world. TripHobo’s trip planning platform serves as one-stop destination for all the travel needs- exploring attractions, creating itineraries and booking hotels, transportation and tours.
      p
      | Users can now book their hotels, transportation and tours from the portal. In order to propagate the thought of simple and care-free travel, we have adopted Shut Up N' Travel as our official Travel thought.
