extends layout

block header
  link(rel="stylesheet" href="/stylesheets/user-profile.css")
  
block content
  if user
    if user.isAdmin
      .container
        h1 Welcome #{user.firstName}
        br
        .tabbable.tabs-top
          ul.nav.nav-tabs
            li(ui-sref-active="active")
              a(ui-sref="add_place") Add Places
            li(ui-sref-active="active")
              a(ui-sref="users_info") Users Information
            //- li(ui-sref-active="active")
            //-   a(ui-sref="page2") Pages2
          .tab-content
            div(ui-view)
    else
      .container
        h1 FORBIDDEN! YOU ARE NOT THE ADMIN!
  else
    .container
      h1 FORBIDDEN! PLEASE LOGIN WITH AN ADMIN ACCOUNT!
        
block scriptcontent
 script(src='/js/admin/admin.js')
 script(src='/js/admin/add_place_controller.js')
 script(src='/js/admin/get-user.js')
 script(src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.1.js")
 script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js')
 script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBkhs7rfZT4W6AEiiarKPkmvdpnUYCXKPc&libraries=places&language=zh-HK')
