extends layout

block header
  link(rel="stylesheet" href="/stylesheets/user-profile.css")
  

block content
  .container
    h1 Welcome #{user.firstName}! You're logged in.
    br
    .tabbable.tabs-left
      ul.nav.nav-tabs
        li(ui-sref-active="active")
          a(ui-sref="general") Generals
        li(ui-sref-active="active")
          a(ui-sref="myplan") My Plan
        //- li(ui-sref-active="active")
        //-   a(ui-sref="pages") Pages
      .tab-content
        div(ui-view)
        
block scriptcontent
 script(src='/js/user-profile.js')
 script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js')
