extends layout

block header
  link(rel="stylesheet" href="/stylesheets/index.css")
  
block content
  // Search Engine
  header.business-header
    .vid-container
      video#Video1.bgvid.back(autoplay='false', preload='auto', loop='')
        source(src='/gif/Sunset2.mp4' type='video/mp4')
      .container(ng-controller='IndexController')
        .banner-box
            .btn-group(role='group', aria-label='...')
            button.btn.btn-default.customize-margin-left.search-type(type='button') 
              span.glyphicon.glyphicon-calendar.white(aria-hidden="true" ) 
              div.white Plans
            button.btn.btn-default.customize-margin-left.search-type(type='button') 
              span.glyphicon.glyphicon-map-marker.white(aria-hidden="true") 
              div.white Locations
            form.form-horizontal(role="form")
              .col-sm-4.customize-margin-left
                .form-group
                  label.banner-font(for="place") Place
                  input.form-control.white(type="text" ng-model="keyword" uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" typeahead-min-length="0" placeholder='Country or City')
              div(ng-if="toggle").col-sm-12.customize-margin-left
              .col-sm-12.customize-margin-left.customize-margin-top
                button.btn.btn-default#search-button(type="submit" ng-click='search()') Search

  // Page Content
  .container.no-margin(style="background-color: white;")
    .container
      .description-container
        .jumbotron.center-text.no-margin
          h1 Welcome To TripHub!
        .row
          .col-xs-12.col-sm-12.col-md-4.col-lg-4
            .listing.listing-radius.listing-default
              .shape
                .shape-text view
              .listing-content
                h3.lead View others' plans!
          .col-xs-12.col-sm-12.col-md-4.col-lg-4
            .listing.listing-radius.listing-success
              .shape
                .shape-text plan
              .listing-content
                h3.lead Plan your own trip!
          .col-xs-12.col-sm-12.col-md-4.col-lg-4
            .listing.listing-radius.listing-danger
              .shape
                .shape-text share
              .listing-content
                h3.lead Share your plans!
        .col-xs-12.col-md-4
        .col-xs-12.col-md-4
        .col-xs-12.col-md-4
      // Suggestions...
      // Destinations
      h1 Popular Destinations
      // /.row
      hr
      .row
        .col-sm-4
          img.img-circle.img-responsive.img-center(style='height:300px; width:300px' src='https://lh4.googleusercontent.com/-l_SjUiNs1uc/VeJ848DQ24I/AAAAAAAAACw/vwRU3tKoHfQ/w300-h240-k/', alt='')
          h2
            a(href='view_place#?place_id=ChIJMd2oglqMGGAR1ARIC-ZljRw') 中華料理 海老専家
          p
            | 日本〒162-0821 Tokyo, Shinjuku, Tsukudocho, 4−7, OSビル1F
        .col-sm-4
          img.img-circle.img-responsive.img-center(style='height:300px; width: 300px' src='https://lh3.googleusercontent.com/-bdYEGLZ-GYU/T-7bv1RF5yI/AAAAAAAAJjQ/KwEK8_ZiUOQ/w300-h240-k/', alt='')
          h2 
            a(href='view_place#?place_id=ChIJAbd27leMGGARKZRkogEdLfI') ブラッスリー・グー
          p
            | 82 Yaraicho, Shinjuku, Tokyo 162-0805日本
        .col-sm-4
          img.img-circle.img-responsive.img-center(style='height:300px; width: 300px' src='https://lh5.googleusercontent.com/-8tHtbVOUF2Q/VY0NT36G20I/AAAAAAAAAhs/1adpMALM8Io/w300-h240-k/', alt='')
          h2 
            a(href='view_place#?place_id=ChIJpUagQbCYfDUR4zHI6MSVGv0') 참다한 홍삼 마포역점
          p
            |  南韓 Seoul, Mapo-gu, Yonggang-dong, 502 래미안 마포 리버 웰 상가 121 동 1 층
      br
      br
      // Plans
      h1 Popular Plans
      hr
      .row
        .col-sm-4
          img.img-circle.img-responsive.img-center(style='height:300px; width: 300px' src='https://upload.wikimedia.org/wikipedia/commons/e/e1/1_hongkong_panorama_victoria_peak_2011.JPG', alt='')
          h2
            a(href='') One Night in Hong Kong
          p
            | For all who enjoy the nightlife, bars and good food: there are plenty of choices to choose. Welcome to HONG KONG!
        .col-sm-4
          img.img-circle.img-responsive.img-center(style='height:300px; width: 300px' src='http://cdn1.theodysseyonline.com/files/2015/12/07/635851121977912810452224516_irish.jpg', alt='')
          h2
            a(href='') 3-Days in IRELAND!
          p
            | Discover four beautiful cities of Ireland- Kilkenny, Kerry, Galway and Dublin. Visit The National Craft Gallery in Kilkenny, Ireland's leading center for contemporary craft. Nice to be in Ireland!
        .col-sm-4
          img.img-circle.img-responsive.img-center(style='height:300px; width: 300px' src='https://secure.as1.wdpromedia.com/resize/mwImage/1/1200/600/90/secure.parksandresorts.wdpromedia.com/media/abd/refresh/europe/norway-vacation/adventures-by-disney-europe-norway-hero-10-bryggen-waterfront.jpg', alt='')
          h2
            a(href='') Christmas in Norway!
          p
            | 挪威既北極光真係好靚好靚!冰天雪地環繞住自己既感覺真係好正!
      hr
      // Footer
      footer
        .row
          .col-lg-12
            p Copyright © TripHub 2016
        // /.row
    // /.container
  
  block scriptcontent
    script(src="//code.jquery.com/jquery-1.12.0.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(type="text/javascript" src="/js/index.js")
