doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel="stylesheet", href="/stylesheets/layout.css")
    // google font
    link(href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css')
    //eded
      //- - var isAdmin = user.isAdmin
    block header

  body(ng-app='TriphubApp')
    nav.navbar.navbar-default.navbar-fixed-top.grey.lighten( role="navigation")
      .container
        .navbar-header
          button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          
          a#white_name(href="#")
            img.logo(src="/../image/logo_transparent.png" width="120" height="48")


        #navbar-inverse.collapse.navbar-collapse
          ul.nav.navbar-nav
            li(class=title=='Home Page'?'active':undefined) 
              a#white_nav1( href="/") Home
            li(class=title=='Planner'?'active':undefined)
              a#white_nav2( href="/planner" ) Trip Planner
            li(class=title=='Plans'?'active':undefined) 
              a#white_nav3( href="/plans" ) Browse Plans
            li(class=title=='Places'?'active':undefined) 
              a#white_nav3( href="/places" ) Browse Places



          ul.nav.navbar-nav.navbar-right
            //TODO: login system
            if !user
              li: a.nag( href="/login") Login
              li: a.nag( href="/register") Sign Up
            else                    
              li.dropdown
                a.dropdown-toggle( href="", data-toggle="dropdown", role="button", aria-expanded="false" ) Welcome #{user.firstName}
                  span.caret
                ul.dropdown-menu.customize-dropdown-menu( role="menu" )
                    li
                      a.drop.text-left(href="/myprofile") 
                        i.glyphicon.glyphicon-user
                        |   My Profile
                    if user.isAdmin
                      li
                        a.drop.text-left(href="/admin") 
                          i.glyphicon.glyphicon-wrench
                          |   Admin Page
                    li(style="color: black;").divider
                    li
                      a.drop.text-left(href="/logout")
                        i.glyphicon.glyphicon-off
                        |   Logout
              //- li.dropdown
              //-   a.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-expanded="false")Welcome, User 
              //-     span.caret
              //-   ul.dropdown-menu.customize-dropdown-menu( role="menu" )
              //-     li: a( href="/myprofile") My Profile 
              //-     li: 
              //-       a( href="/logout") 
              //-         i.icon-off
                        //- Logout
    block content

    script(src="/js/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-cookies.js") // don't delete
    script(src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.1.js")
    //script(type="text/javascript" src='/js/nav.js')
    script(src="https://code.jquery.com/jquery-1.12.2.min.js", integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS",crossorigin="anonymous")
    script(src="/js/main_controller.js")
    script(src='/js/gservice.js')
    script(src='/js/ngDraggable.js')
    
    block scriptcontent
