extends layout

block header
  meta(charset="UTF-8")
  link(rel="stylesheet" href="/stylesheets/login.css")
  //import google icon font
  //import Materialize.css
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
  script(src='/js/login.js')
  
block content
  .vid-container
    video#Video1.bgvid.back(autoplay='false', preload='auto', loop='')
      source(src='/gif/Sunset.mp4' type='video/mp4')
    .inner-container
      video#Video2.bgvid.inner(autoplay='false', muted='muted', preload='auto', loop='')
        source(src='/gif/Sunset.mp4' type='video/mp4')
      .box
        h4
          b Login
        
        form.form(action="/login" method="POST")
          label
            input(type="email" name="email" placeholder="Email" required)
          label
            input(type="password" name="password" placeholder="Password" required)
          if error
            p 
              b(style="color:red;") #{error}
          button(type="submit") Submit
        p Not a member? 
          span
            a(href='register') Sign Up
