extends layout

block header
  link(rel="stylesheet" href="/stylesheets/places.css")

block content
    .container(ng-controller='PlacesController as placesCtrl')
      .col-xs-12.col-md-6(ng-repeat='place in placesCtrl.results' ng-init='place.show = "add to cart"')
        .wrapper
          // card representing one place
          .card.radius.shadowDepth1
            .card__image.border-tlr-radius
              img.border-tlr-radius(ng-src='{{place.photos}}', alt='image')
            .card__content.card__padding
              .card__share
                a#share.share-icon(href="view_place#?place_id={{place._id}}")
                  .glyphicon.glyphicon-link
              .card__meta
                a(href='') {{place.country}}
                time {{place.address}}
              article.card__article
                h2
                  a(href="view_place#?place_id={{place._id}}") {{place.name}}
                p {{place.description}}
            .card__action
              .card__author
                .card__author-content
                  | Rating: 
                  a(href='') {{place.rating}}

block scriptcontent
  script(src='/js/places_controller.js')
  
