extends layout

block header
  link(rel="stylesheet", href="/stylesheets/planner.css")

block content
    .container#page(ng-controller='MapController as mapcont')
      .row.fullsize
        .col-md-8.col-sm-12#leftCol
          // Full Width Google Map
          .container-fluid#map
          // Function Panel
          .container-fluid.fullsize
            .col-xs-3.fullsize.location-functions
              // search types
              .row.search-type
                select.form-control.style-1(ng-options='type for type in mapcont.availableSearchTypes' ng-model='mapcont.selectedType')
              // search button
              .row
                button.btn.btn-default.btn-func(ng-click='mapcont.search()') Random Search
                  .glyphicon.glyphicon-search.icon-right
              // add day button
              .row
                button.btn.btn-default.btn-func(type='button', ng-click='mapcont.addDay()') Add Day
                  .glyphicon.glyphicon-plus-sign.icon-right
              // save button
              .row
                button.btn.btn-default.btn-func(type='button', ng-click='mapcont.save()') Save
                  .glyphicon.glyphicon-floppy-disk.icon-right
              // clear button
              .row
                button.btn.btn-default.btn-func(type='button', ng-click='mapcont.clearAll()') Clear
                  .glyphicon.glyphicon-trash.icon-right
              .row.lastbox
                input.check(type="checkbox" ng-model="mapcont.isShare")
                label Share to public
                //- 
                //- .checkbox
                //-   label.label-primary
                //-     input(type="checkbox" ng-model="mapcont.isShare") 
                //-     p Share to public
            .col-xs-9.fullsize.location-functions
              // search bar
              .row
                input.style-2#pac-input(type='text', placeholder="Enter location")
              // pool of selected place
              .card-group.place
                div(ng-repeat='p in mapcont.places track by $index')
                  //- ---
                  //- place pool: each element can be drag
                  //- ---
                  // maxWidth:150
                  .col-xs-3.card.fullsize(ng-drag="true" ng-drag-data="p" data-allow-transform="true")
                    a.glyphicon.glyphicon-remove-circle.delete-button(ng-click='mapcont.removePlace(p)' href='' title='delete')
                    img(ng-src="{{ (p.hasOwnProperty('photos')) ? p.photos[0].getUrl({maxWidth:150}) : 'image/card6.jpg'}}")
                    span.card-title {{p.name}}
                div(ng-drag-clone="")
                  .card.fullsize(style="opacity:0.8")
                    a.glyphicon.glyphicon-remove-circle.delete-button(href='' title='delete')
                    img(ng-src="{{ (clonedData.hasOwnProperty('photos')) ? clonedData.photos[0].getUrl({maxWidth:150}) : 'image/card6.jpg'}}")
                    span.card-title {{clonedData.name}}
        // Sidebar
        .col-md-4.col-sm-12#location
          // Timeline
          .panel.panel-default
            // Panel Header
            .panel-heading#header-wrap
              span.glyphicon.glyphicon-pencil
              |  My Plan
              // Body
            .panel-body#body-wrap
              // Timeline
              ul.timeline
                // Item
                li(ng-repeat='schedule in mapcont.schedule' ng-drop="true" ng-drop-success="mapcont.onDropComplete($data,$event,$index)")
                  // 1. Badge + Sequence No.
                  // backup:(style="background-color:{{mapcont.getRandomColor()}};")
                  .timeline-badge(style="background-color:{{mapcont.getColor($index)}};") {{$index + 1}}
                    // 2. Panel
                  .timeline-panel 
                    |  Drag Places To Here 
                    span.glyphicon.glyphicon-chevron-down
                    .row.plan(ng-repeat='p in schedule')
                      // Heading (Place)
                      .timeline-heading
                        a.glyphicon.glyphicon-remove-circle.delete-button(ng-click='mapcont.removeDay($index)' title='delete')
                        h4.timeline-title {{p.name}}
                        p
                          small 
                            span.glyphicon.glyphicon-time
                          small.text-muted Duration
                        
                            // Blog
                      .timeline-body
                        p
                          textarea.input-blog(type='text', ng-model='p.description')
                          
block scriptcontent
  script(src='/js/planner_controller.js')
  //- script(src='/js/random.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBkhs7rfZT4W6AEiiarKPkmvdpnUYCXKPc&libraries=places&language=zh-HK')
  //script(src='/js/test.js')
