extends layout

block header
  link(rel="stylesheet" href="/stylesheets/plans.css")
  //import google icon font
  link(rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons")
  //import Materialize.css
  //link(rel="stylesheet" href="stylesheets/materialize.min.css" media="screen,projection")
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js")
  script(src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.1.js")
  
block content
  .container(ng-controller="myCtrl")
    .col-xs-12.col-md-6(ng-repeat="plan in plans | startForm: (currentPage - 1) * pageSize | limitTo: pageSize")
      .wrapper
        // card representing one plan
        .card.radius.shadowDepth1
          .card__image.border-tlr-radius
            img.border-tlr-radius(src="{{plan.imgUrl}}", alt='image')
          .card__content.card__padding
            .card__share
              a#share.share-icon(href='/view_plan#/?plan_id={{plan._id}}')
                .glyphicon.glyphicon-link
            article.card__article
              h2
                a(href='/view_plan#/?plan_id={{plan._id}}') {{plan.title}}
              p {{plan.content}}
    .col-xs-12
      .pageline    
        uib-pagination.centre(total-items="plans.length" ng-model="currentPage" items-per-page="pageSize" style="margin-left: 40%;")
    
    
  script(type='text/javascript', src='js/materialize.min.js')
  
  block scriptcontent
    script(src='/js/getPlan.js')
    
