extends layout

block header
  meta(charset="UTF-8")
  link(rel="stylesheet" href="/stylesheets/register.css")
  //import google icon font
  //import Materialize.css
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
  script(src='/js/login.js')
  
block content
  .vid-container
    video#Video1.bgvid.back(autoplay='false', preload='auto', loop='')
      source(src='/gif/Sunset.mp4' type='video/mp4')
    .inner-container
      video#Video2.bgvid.inner(autoplay='false', muted='muted', preload='auto', loop='')
        source(src='/gif/Sunset.mp4' type='video/mp4')
      .box
        h4
          b Sign Up
        form.form(action="/register" method="POST")
            label
              input(type="text" name="firstName" placeholder="First Name" required /)
            label
              input(type="text" name="lastName" placeholder="Last Name" required /)
            label
              input(type="email" name="email" placeholder="Email" required /)
            label
              input(type="password" name="password" placeholder="Password" required /)
            if error
              p(style="color: red; font-weight: bold;") #{error}
            button(type="submit") Submit
          //- input(type="submit")
