extends layout

block header

block content
    .container(ng-controller='SearchController as sctrl')
      .row
        .col-md-2
        .col-xs-12.col-md-8
          h1 Searching: {{sctrl.keyword}}
          ul.media-list(ng-repeat='place in sctrl.results' ng-init='place.show = "add to cart"')
            li.media
              .media-left
                img(style='width:150px; height:120px; background-color:grey' ng-src='{{place.photos}}')
              .media-body
                h3.media-heading
                  a(href="view_place#?place_id={{place._id}}") {{place.name}}
                  
                ul
                  li address: {{place.address}}
                  li rating: {{place.rating}}
                  li tags: {{place.tags}}
                button(ng-click='sctrl.add_to_cart(place._id); place.show = "added"') {{place.show}}

block scriptcontent
  script(src='/js/search_controller.js')
  
