extends layout

block header
  link(rel="stylesheet" href="/stylesheets/places.css")

block content
    .container(ng-controller='ViewPlaceController as vpctrl')
      .wrapper
        // card representing the place
        .card.radius.shadowDepth1
          .card__image.border-tlr-radius
            img.border-tlr-radius(ng-src="{{ (vpctrl.place.hasOwnProperty('photos')) ? vpctrl.place.photos : ''}}", alt='image')
          .card__content.card__padding
            .card__share
              a#share.share-icon(href="view_place#?place_id={{vpctrl.place._id}}")
                .glyphicon.glyphicon-link
            .card__meta
              a(href='') {{vpctrl.place.country}}
              time {{vpctrl.place.address}}
            article.card__article
              h2
                a(href="view_place#?place_id={{vpctrl.place._id}}") {{vpctrl.place.name}}
              p {{vpctrl.place.description}}
          .card__action
            .card__author
              .card__author-content
                | Rating: 
                a(href='') {{vpctrl.place.rating}}
            .card__author
              time(ng-repeat='tag in vpctrl.place.tags') {{tag}},
            
      .row    
        // Other related plans
        h3 Related Plans
        ul.media-list(ng-repeat='plan in vpctrl.results')
          li.media
            .media-left
              img(style='width:150px; height:120px; background-color:grey' ng-src='{{plan.imgUrl}}')
            .media-body
              h3.media-heading {{plan.title}}
              p 
                b description: 
                | {{plan.description}} 
              ul
                li
                  b author: 
                  | {{plan.uid.firstName}} {{plan.uid.lastName}}
                    
block scriptcontent
  script(src='/js/view_place.js')
  
