extends layout

block header
  link(rel="stylesheet" href="/stylesheets/view_plan.css")
  //- link(rel="stylesheet" href="/stylesheets/view_plan_reset.css")
  link(rel="stylesheet" href="/stylesheets/view_plan_style.css")
  script(src="/js/view_plan_modernizr.js")
  
block content
  .container#all(ng-controller="myCtrl")
    // Plan Title
    // Can add bg here
    #masthead
      .container
        .row
          .col-md-7
            h1
              | {{plan.title}}
              p.lead {{plan.description}}
          .col-md-5
            .well.well-lg
              .row
                .col-sm-4
                  img.img-responsive(src='/image/user/template.png')
                .col-sm-8.username
                  h3 Triphub Official
      // /container
    // /masthead
    // main
    #leftCol.row-offcanvas
      nav.day
        ul#sidebar.nav.nav-stacked
          li(ng-repeat="day in schedule")
            a(href="" ng-click="gotoAnchor($index)") Day {{$index+1}}
        
    .container#plan_content
      .row
        // left

        // /left
        // right
        .col-md-12
          // map
          .row(ng-controller='MapController as mapcont' style='z-index=-1')
            div(id="map")
          // blog
          .row
            h3(ng-repeat="day in schedule" id="anchor{{$index}}")
              time.icon.centre
                strong DAY
                span {{$index+1}}
              section#cd-timeline.cd-container
                .cd-timeline-block(ng-repeat="place in day")
                  .cd-timeline-img.cd-picture
                    img(src="image/cd-icon-picture.svg" alt="Picture")
                    
                  .cd-timeline-content
                    h2 {{place.name}}
                    img(src="{{place.imgUrl}}")
                    p.bigger {{place.description}}
                    
                p {{place.name}}
                p {{place.place_id}}
          // /right

      // /row
    // /container
    .container(ng-controller="myCtrl")
      h2
        span.label.label-primary Comments
      .well
        div(ng-repeat="comment in comments")
          p {{comment.user.email}}
          p.alert.alert-info {{comment.content}}
      form.form(action="{{'/api/comment/' + plan._id }}" method="POST")
        textarea.form-control(name="comment" type="text")
        button.btn.btn-default(type="submit") Submit
    br
block scriptcontent
  script(src='/js/view_plan.js')
  script(src='/js/planner_controller.js')
  script(src='/js/gservice.js')
  script(src='/js/ngDraggable.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBkhs7rfZT4W6AEiiarKPkmvdpnUYCXKPc&libraries=places')
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  script(src='js/view_plan_main.js')
