/*!
 * Start Bootstrap - Business Frontpage HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */


/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.business-header {
    height: 600px;
    /*background-image: url('/image/image01.jpg');*/
    /*background: url('/image/image01.jpg') center center no-repeat scroll;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media (max-width: 700px){
  .business-header {
    background: url('/image/image01.jpg') no-repeat center fixed;
  }
}

.vid-container{
  position:relative;
  height:100vh;
  overflow:hidden;
}
.bgvid.back {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  overflow:hidden;
}

.banner-box{
    height: 500px;
    border-radius: 6px;
    padding-top: 30px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 50px;
    background: rgba(0, 0, 0, 0.65);
    /*filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur");*/

}

.white{
  color: rgb(240,240,240);
}

.banner-font{
    /*color: rgb(255,255,255);*/
    color: rgb(208,208,208);
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px;
}
/* Customize the text color and shadow color and to optimize text legibility. */
.customize-margin-left{
  margin-left: 10px;
}

.col-sm-12.customize-margin-left{
  padding-left: 0px;
  margin-left: 10px;
}

.customize-margin-top{
  margin-top: 10px;
}

.search-type{
  background: rgba(122, 122, 122, 0.65);
}

.search-type:hover{
  background-color: rgb(0, 89, 179);
}

.search-type:active:focus, .search-type.active, .search-type.active:focus, .search-type:focus, .search-type.focus{
  outline: 0 none;
  background-color: rgb(0, 102, 204);
}

#search-button{
  height: 50px;
  width: 90px;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(255, 187, 0);
}

#search-font{
  font-weight: bold;
  color: brown;
}

.advance{
    color: lightblue;
    cursor: pointer;
    margin-bottom: 10px;
}
/* Customize the text color and shadow color and to optimize text legibility. */

.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.img-center {
    margin: 0 auto;
}

footer {
  text-align: center;
  height:50px;
  padding-top:5px;
  padding-bottom:5px;
  width: 100%;
}

h1 {
  text-align: center;
}

.center-text {
  text-align: center;
}

.jumbotron {
  background: none;
}

.shape {
    border-style: solid;
    border-width: 0 70px 40px 0;
    float: right;
    height: 0px;
    width: 0px;
    -ms-transform: rotate(360deg); /* IE 9 */
    -o-transform: rotate(360deg); /* Opera 10.5 */
    -webkit-transform: rotate(360deg); /* Safari and Chrome */
    transform: rotate(360deg);
}
.listing {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    overflow: hidden;
}
.listing:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: rotate scale(1.1);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.shape {
    border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}
.listing-radius {
    border-radius: 7px;
}
.listing-danger {
    border-color: #d9534f;
}
.listing-danger .shape {
    border-color: transparent #d9533f transparent transparent;
}
.listing-success {
    border-color: #5cb85c;
}
.listing-success .shape {
    border-color: transparent #5cb75c transparent transparent;
}
.listing-default {
    border-color: #999999;
}
.listing-default .shape {
    border-color: transparent #999999 transparent transparent;
}
.listing-primary {
    border-color: #428bca;
}
.listing-primary .shape {
    border-color: transparent #318bca transparent transparent;
}
.listing-info {
    border-color: #5bc0de;
}
.listing-info .shape {
    border-color: transparent #5bc0de transparent transparent;
}
.listing-warning {
    border-color: #f0ad4e;
}
.listing-warning .shape {
    border-color: transparent #f0ad4e transparent transparent;
}
.shape-text {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    right: -40px;
    top: 2px;
    white-space: nowrap;
    -ms-transform: rotate(30deg); /* IE 9 */
    -o-transform: rotate(360deg); /* Opera 10.5 */
    -webkit-transform: rotate(30deg); /* Safari and Chrome */
    transform: rotate(30deg);
}
.listing-content {
    padding: 0 20px 10px;
}

.no-margin {
  margin: 0;
}

.description-container {
  padding: 30px;
}
