.customize-dropdown-menu {
  min-width: 50px;
}
body {
  padding-top:50px;
  background-color: #f7f7f7;
  font-family: 'Lato', sans-serif;
  overflow-x:hidden;
  /*overflow-y:hidden;*/
  width: 100%;
  height:100%;
}
a:target {
  background-color: none;
}

hr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.logo{
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-fixed-top {
    position: fixed!important;
    top: 0;
    width: 100%;
    z-index: 102;
}

.grey.lighten {
    /*font-weight: bold;*/
    background-color: rgba(38,38,38,0.8) !important;
}

/*#white_name{
  color: white;
=======
#white_name{
  color: #e6e6e6;
}
#white_nav1{
  color: #e6e6e6;
}
#white_nav2{
  color: #e6e6e6;
}
#white_nav3{
  color: #e6e6e6;
}
#white_nav4{



.btn {
    /*padding: 14px 24px;*/
    /*border: 0 none;
    border-radius:0;
}*/

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.form-control {
  border: 0 none;
  border-radius:0;
  outline: 0 none;
  background-color: rgba(0, 0, 0, 0.2);
  /*box-shadow: 2px 3px 5px ;*/
}

/*outline button*/
.btn.outline {
	background: none;
	padding: 12px 22px;
}

.btn-primary.outline {
	border: 2px solid #0099cc;
	color: #0099cc;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #33a6cc;
	border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299;
	color: black;
	box-shadow: none;
}

.no-margin {
  margin: 0;
  padding: 0;
  width: 100%;
}

a.nag{
  color: white !important;
}
a.drop{
  color: black;
}

.active a{
  color: rgb(38,38,38) !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  /*background-color: rgba(0,0,0,0.4);*/
}

.navbar-fixed-top {
  border-bottom-style: solid;
  border-color: rgb(255, 255, 0);
  border-bottom-width: 2px;
  box-shadow: 0px 1px 10px 0px;
}

.navbar-default .navbar-nav:hover{
  color: #777;
}

.navbar-default .navbar-nav>li>a {
  color: #e6e6e6;
}
