
#map {
/*float:left;*/
width:100%;
height:400px;
}

.sidebar-nav-fixed {
width:30%;
}

#location {
  height: 716px;
  padding-left: 0;
  padding-right: 0;
  overflow-x:scroll;
  box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.2);
}

input.check{
  margin-right: 5px;
}

.sidebar-nav-fixed {
	width:100%;
}

#editor {
  top: 450px;
}

#page {
  margin: 0;
  padding: 0;
  width: 100%;
}

#leftCol {
  margin: 0;
  padding: 0;
}

#header-wrap {
    position: relative;
    width: 100%;
    height: 40px;
    top: 50;
    z-index: 101;
}

#body-wrap{
  margin: 0;
}

@media (max-width: 768px){
  #leftCol{
    /*top:50px;*/
    height: 516px;
  }
  #location {
    width: 100%;
  }
  #header-wrap {
      position: relative;
  }
  #map {
  /*float:left;*/
  width:100%;
  height:200px;
  }
}

.icon-right {
  float: right;
  padding-right: 10px;
  padding-top: 2px;
  vertical-align: baseline;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.delete-button {
     margin-top: 1px;
     margin-right: 2px;
     position:absolute;
     top:0;
     right:0;
     color: red;
     margin-top: 1px;
     margin-right: 2px;
     z-index: 2;
     position: absolute;
 }

.fullsize {
  margin: 0;
  padding: 0;
}

.plan {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-blog {
  width:100%;
  height:100%;
}

.btn-default:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn-func {
  padding-top: 15px;
  padding-bottom: 15px;
  width:100%;
  text-align: center;
  border-radius: 0px;
}

.style-2 {
  padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
  width: 100%;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.style-2:focus,
.style-2.focus {
  border: solid 5px #969696;
}

.style-1 {
  padding: 10px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.panel {
  margin-bottom: 0;
}

.search-type {
  width: 100%;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
}

.place {
  height: 266px;
  overflow-y: scroll;
  overflow-x: hidden;

}

.location-functions {
  height: 326px;
  overflow-x: scroll;
}

.place-panel {
  background-color: #c1f0f0;
}

.thumbnail:hover,  .thumbnail:active {
  background-color: #c1f0f0;
}

.lastbox {
  height: 20px;
  text-align: center;
}

.card {
  /*margin-top: 10px;*/
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card span.card-title {
    color: #fff;
    font-size: 16px;
    font-weight: 150;
    text-transform: uppercase;
    text-shadow: 0px 0px 5px #000000;
}

.card .card-image {
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
}
.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}
.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.card .card-action a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}

.card {
  height: 150px;
  width: 150px;
  overflow: hidden;
}
.card img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  min-height: 100%;
  width: auto;
}
.card:after{
  content:'Drag Me';
  color:#fff;
  text-align: center;
  position:absolute;
  width:100%; height:100%;
  top: 0;
  left:0;
  background:rgba(0,0,0,0.6);
  opacity:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.card:hover:after {
    opacity:0.8;
}
.card-title {
  position: absolute;
  z-index: 1;
  bottom:3px;
  left:3px;
}


/*.card-title {
  text-align: center;
}

.card-content {
  padding: 10px;
  vertical-align: middle;
  text-align: center;
}

.card-image {
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto
}*/

/*h1 {
  font-size: 30px;
  text-align: center;
  position: center, center;
  margin: 0;
  vertical-align: middle;
}*/

.timeline {
    position: relative;
    padding: 20px 0 20px;
    list-style: none;
}

.timeline:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    margin-left: -1.5px;
    background-color: #eeeeee;
}

.timeline > li {
    position: relative;
    margin-bottom: 20px;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    float: left;
    position: relative;
    width: 46%;
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    text-align: center;
    padding-top: 10px;
}

.timeline > li > .timeline-panel:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 26px;
    right: -15px;
    border-top: 15px solid transparent;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ccc;
}

.timeline > li > .timeline-panel:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 27px;
    right: -14px;
    border-top: 14px solid transparent;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #fff;
}

.timeline > li > .timeline-badge {
    z-index: 100;
    position: absolute;
    top: 16px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    font-size: 1.6em;
    line-height: 50px;
    color: #fff;
    background-color: #999999;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}


ul.timeline:before {
    left: 40px;
}

ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
}

ul.timeline > li > .timeline-badge {
    top: 16px;
    left: 15px;
    margin-left: 0;
}

ul.timeline > li > .timeline-panel {
    float: right;
}

ul.timeline > li > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

ul.timeline > li > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}
