#map {
  float:left;
  width:100%;
  height:400px;
}

#location {
  height:400px;
  overflow-y:scroll;
}
.sidebar-nav-fixed {
	width:30%;
}

#page {
  margin: 0;
  padding: 0;
  width: 100%;
}

#leftCol {
  margin: 0;
  padding: 0;
}
