/*
A Bootstrap 3.1 affix sidebar template
from http://bootply.com

This CSS code should follow the 'bootstrap.css'
in your HTML file.

license: MIT
author: bootply.com
*/

/*body {
 background-color: #efeddf;
}*/
.centre{
    margin-left: 17px;
    margin-bottom: -30px;
}
@media (min-width: 1500px){
  .centre{
    margin: 0 auto;
    margin-bottom: -30px;
  }
}

.username{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.bigger{
  font-size: 16px;
}
#masthead {
 min-height:250px;
 /*border-bottom: dashed;
 border-width: 0 0 2px;*/
}

#masthead h1 {
 font-size: 30px;
 line-height: 1;
 padding-top:20px;
}

#masthead .well {
 margin-top:8%;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 50px;
  }
}

.affix-top,.affix{
 position: static;
}

@media screen and (min-width: 1500px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:30px;
  	width:80px;
  }

  #sidebar.affix {
    position: fixed;
    top:70px;
    width:80px;
  }
}

#sidebar li.active {
  border:0 #eee solid;
  border-right-width:5px;
}

@media (min-width: 720px) {
  #map {
    width:100%;
    height:400px;
  }
}

#plan_content {
  background-color: #f2f2f2;
  /*box-shadow: -3px 7px 10px 0px grey;*/
}

#all {
  width:100%;
  padding: 50px;
  margin: 0;
}

body
{
  font-family: "Helvetica Neue Bold", arial, helvetica, sans-serif;
}

h1
{
  margin: 0;
  font-weight: normal;
}

time.icon
{
  font-size: 0.7em; /* change icon size */
  display: block;
  position: relative;
  width: 5.5em;
  height: 5.5em;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #fd9f1b;
  border-bottom: 1px dashed #f37302;
  box-shadow: 0 2px 0 #fd9f1b;
}

time.icon em
{
  position: absolute;
  bottom: 0.3em;
  color: #fd9f1b;
}

time.icon span
{
  width: 100%;
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #2f2f2f;
}

time.icon:hover, time.icon:focus
{
  -webkit-animation: swing 0.6s ease-out;
  animation: swing 0.6s ease-out;
}

@-webkit-keyframes swing {
  0%   { -webkit-transform: rotate(0deg)  skewY(0deg); }
  20%  { -webkit-transform: rotate(12deg) skewY(4deg); }
  60%  { -webkit-transform: rotate(-9deg) skewY(-3deg); }
  80%  { -webkit-transform: rotate(6deg)  skewY(-2deg); }
  100% { -webkit-transform: rotate(0deg)  skewY(0deg); }
}

@keyframes swing {
  0%   { transform: rotate(0deg)  skewY(0deg); }
  20%  { transform: rotate(12deg) skewY(4deg); }
  60%  { transform: rotate(-9deg) skewY(-3deg); }
  80%  { transform: rotate(6deg)  skewY(-2deg); }
  100% { transform: rotate(0deg)  skewY(0deg); }
}

/*
@media screen and (max-width: 720px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }*/
.schedule {
  margin-top: 20px;
}

nav.day
{
  height: auto;
  margin: auto;
  float: left;
}

nav.day ul
{
  list-style-type: none;
}

nav.day li
{
  text-align: center;
  border: 1px solid black;
  background-color: aqua;
  width: 100px;
  margin: 10px;
  display: inline-block;;
}

nav.day a
{
  border: 1px solid black;
  background-color: beige;

  text-decoration: none;
  color: black;

  display: block;
  padding: 5px;
}

nav.day a:hover
{
  background-color:  orange;

}

@media screen and (max-width: 1500px)
{
  nav.day
  {
    height: auto;
    margin: auto;
    margin-left: 6%;
  }

  nav.day ul
  {
    list-style-type: none;
  }

  nav.day li
  {
    text-align: center;
    border: 0.5px solid black;
    background-color: aqua;
    width: 100px;
    margin: 5px;
    display: inline-block;;
  }

  nav.day a
  {
    border: 1px solid black;
    background-color: beige;

    text-decoration: none;
    color: black;

    display: block;
    padding: 5px;
  }

  nav.day a:hover
  {
    background-color:  orange;

  }
}
