div(ng-controller="infoCtrl")
  .personal-info
    if error
      .alert.alert-info.alert-dismissable
        a.panel-close.close(data-dismiss='alert') ×
    h3 Personal info
    table.table 
      tr
        td
          span Email:
        td.centre
          span {{user.email}}
        td.centre
      tr
        td
          span First Name:
        td.centre
          span(ng-if="isEditing != 1") {{user.firstName}}
          div.alert-danger(ng-if="isEditing == 1") {{error}}
          form(role="form")
            input.form-control(ng-if="isEditing == 1" ng-model="$parent.firstname" placeholder="New First Name" required)    
        td.centre
          button(ng-if="isEditing != 1" ng-click="onEditClick(1)").btn.btn-default Edit
          button(ng-if="isEditing == 1"  ng-click="updateUser(user)").btn.btn-default Save
          button(ng-if="isEditing == 1" ng-click="onCancelClick(0)").btn.btn-default Cancel
      tr
        td
          span Last Name:
        td.centre
          span(ng-if="isEditing != 2") {{user.lastName}}
          div.alert-danger(ng-if="isEditing == 2") {{error}}
          form
            input(ng-if="isEditing == 2" ng-model="$parent.lastname" placeholder="New Last Name" required).form-control
        td.centre
          button(ng-if="isEditing != 2" ng-click="onEditClick(2)").btn.btn-default Edit
          button(ng-if="isEditing == 2" ng-click="updateUser(user)").btn.btn-default Save
          button(ng-if="isEditing == 2" ng-click="onCancelClick(0)").btn.btn-default Cancel
      tr
        td
          span Password:
        td.centre
          span(ng-if="isEditing != 3") Change your password here
          div.alert-danger(ng-if="isEditing == 3") {{error}}
          form
            input(type="password" ng-if="isEditing == 3" ng-model="$parent.oldpassword" placeholder="Old Password" required).form-control
            input(type="password" ng-if="isEditing == 3" ng-model="$parent.newpassword" placeholder="New Password" required).form-control
            input(type="password" ng-if="isEditing == 3" ng-model="$parent.renewpassword" placeholder="Confirm Password" required).form-control
        td.centre
          button(ng-if="isEditing != 3" ng-click="onEditClick(3)").btn.btn-default Edit
          button(ng-if="isEditing == 3" ng-click="updateUser(user)").btn.btn-default Save
          button(ng-if="isEditing == 3" ng-click="onCancelClick(0)").btn.btn-default Cancel
