.container.col-md-12(ng-controller="myplanCtrl")
  h3 My Plan
  table.table(ng-repeat="userplan in userplans | startForm: (currentPage - 1) * pageSize | limitTo: pageSize")
    tr
      td.col-md-1
        span {{$index + 1}}
      td.centre
        span {{userplan.title}}
      td.centre.col-md-3
        span 
          a(href="/view_plan#/?plan_id={{userplan._id}}") links
  div
    uib-pagination(total-items="userplans.length" ng-model="currentPage" items-per-page="pageSize")
